.env
.env.local

#python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
.ipynb_checkpoints/
*.egg-info/
.pytest_cache/
.mypy_cache/


#repo specific and local development files
mat-cert-doc-parsing.code-workspace
_deslop_dump.txt



#temp lock, to not send to remote repo
_*



#cursor local
.cursor/plans
*.code-workspace