AZURE_MISTRAL_DOCUMENT_AI_ENDPOINT=
AZURE_MISTRAL_DOCUMENT_AI_KEY= 


AZURE_AI_DEPLOYMENT_NAME=mistral-document-ai-2505-1
AZURE_CHAT_ENDPOINT=
AZURE_CHAT_KEY=


AZURE_CHAT_DEPLOYMENT=gpt-4o-mini-1
AZURE_CONTENT_UNDERSTANDING_ENDPOINT=
AZURE_CONTENT_UNDERSTANDING_KEY=